.table-headder {
  padding: 1rem;
  text-align: left;
  border: 1px solid grey;
  background-color: lightsalmon;
}

.table-data {
  padding: 1rem;
  border: 1px solid grey;
  background-color: antiquewhite;
}
